* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(255, 246, 234);
    font-family: "Cormorant", serif;
}
#navbar {
    margin: 30px;
}
.links {
    display: inline-block;
}
.links li {
    display: inline-block;
    margin-right: 16px;
}
h1 {
    margin-right: 32px;
    font-weight: 500;
    display: inline-block;
}

ul {
    padding: 0;
}
.links ul li a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(129, 129, 129);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 10px;
    transition: 0.2s ease-out;
}
.links ul li a:hover {
    color: rgb(0, 0, 0);
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    transition: 0.2s ease-out;
}

.img-container {
    width: 49.85%;
    display: inline-block;
    box-sizing: border-box;
    padding: 30px 16px;
    margin-top: 0;
}
.img-container img {
    width: 100%;
    object-fit: cover;
    height: 500px;
}
.img-container h2 {
    font-weight: 300;
    margin-top: 10px;
    display: inline-block;
}
.galery {
    padding: 0 16px 0 28px;
    transition: 0.6s;
}
.centerer {
    margin: 0 auto;
}
img {
    transition: 0.6s;
    transform: rotate(0deg);
}
img:hover {
    cursor: crosshair;
    transform: translate(8px, -8px);
    filter: none;
    box-shadow: -10px 10px 1px rgba(215, 191, 148, 0.669);
    transition: 0.6s;
}

#about {
    width: 40%;
    min-width: 250px;
    margin: 100px auto 100px auto;
}
#about h3 {
    font-size: 40px;
    font-weight: 300;
}

.cta {
    margin: 60px 0;
    display: inline-block;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}

#contact {
    font-size: 20px;
}

hr {
    margin: 50px auto 0 auto;
    width: 60vw;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    margin: 0 30px;
    padding: 0 10px;
}

footer p a {
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
    color: rgb(29, 29, 29);
    transform-origin: center;
    transition: 0.4s ease-out;
}

footer p a:hover {
    color: rgb(255, 255, 255);
    transition: 0.4s ease-out;
}
@media screen and (max-width: 720px) {
    .img-container {
        width: 100%;
    }
    #about h3 {
        font-size: 30px;
    }
    .links {
        margin: 25px 20px 0 0px;
    }
}
@media screen and (min-width: 720px) {
    .img-container {
        width: 48.9%;
    }
}
@media screen and (min-width: 1290px) {
    .img-container {
        width: 32.85%;
    }
}
